@charset "utf-8";

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}
.cursus {
    display: flex;
    flex-direction: column;
}

.cours article {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cours article img {
    width: 100%; /* Ajuste la largeur de toutes les images à 100% */
    max-width: 150px; /* Limite la largeur maximale à 150px pour éviter des images trop grandes */
    margin-left: 20px; /* Ajoute une marge entre le texte et l'image */
}  
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #3498db;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}