@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header styles */
header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.header-logo {
    max-width: 100%;
    height: auto;
}

/* Navigation styles */


/* Menu styles */
.menu {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    width: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbarB:hover .menu {
    display: flex;
}

.menu a {
    color: #333;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #f0f0f0;
}

/* Section styles */
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #3498db;
}

/* Footer styles */
footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
